*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: Arial;
    font-size: 14px;
}
.clear{
    clear: both;
}
.container-head{
    height: 30px;
    background-color: rgb(43, 41, 41);
}
.menu{
    width: 100%;
    max-width: 1040px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 auto;
    border: solid 1px rgb(43, 41, 41);;
}
.menu-left{
    width: 49%;
    height: 30px;
    margin: 0 0.5%;
    float: left;
}
.menu-right{
    width: 49%;
    height: 30px;
    margin: 0 0.5%;
    float: right;
    text-align: right;
    margin-top: 1px;
}
.menu-left ul{
    list-style: none;
}
.menu-left li{
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    display: inline-block;
}
.menu-left li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.menu-left li .ativo {
    color: cornflowerblue;
    font-weight: bold;
}
a{
    width: 26px;
    height: 26px;
    border: 1 solid white; 
}
.menu-right a{
    margin-right: 7px;
    float: right;
}
.menu-right input{
    height: 26px;
    float: right;
    margin-right: 5px;
}
.icon1{
    margin-top: 3px;
    background-image: url("../imagens/face.png");
    background-size: 26px 22px;
    background-repeat: no-repeat;
}
.icon2{
    background-image: url("../imagens/tube.png");
    background-size: 27px 29px;
    background-repeat: no-repeat;
}
.icon3{
    margin-top: 2px;
    background-image: url("../imagens/gmail.png");
    background-size: 27px 26px;
    background-repeat: no-repeat;
}
.container-headmain{
    width: 100%;
    height: 95px;
}
.content-headmain{
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: 0 auto;
    padding: 0px 0px;
    /*background-color: aqua;*/
}
.logo{
    width: 38%;
    float: left;
    height: 85px;
    margin-left: 10px;
    margin-top: 4px;
    background-image: url(../imagens/logo.jpg);
    background-size: 150px 90px;
    background-repeat: no-repeat;
}
.banner{
    width: 60%;
    float: right;
    margin-top: 4px;
    height: 85px;
    background-color:  rgb(216, 0, 43);
}
.texto{
    position: relative;
    font-size: 28px;
    padding-left: 50px;
    margin-top: 10px;
    color:  rgb(216, 0, 43);
}
.texto2{
    margin-top: 20px;
    text-align: center;
    color: white;
}
.container-menumain{
    width: 100%;
    height: 35px;
    background-color: rgb(216, 0, 43);
}
.menumain{
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    height: 35px;
    background-color: rgb(216, 0, 43);
}
.menumain ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menumain li{
    float: left;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    color: white;
    font-size: 18px;
}
.menumain li a{
    text-decoration: none;
    color: white;
}
.ativo{
    color: blue;
}
.submenu{
    width: 150px;
    background-color: rgb(223, 35, 73);
    position: absolute;
    display: none;
}
.menumain li:hover .submenu{
    display: block;
}
.submenuitem{
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
}
.submenuitem:hover{
    background-color: rgb(197, 134, 147);
}
.container-main{
    padding-top: 10px;
    width: 100%;
}
.ultimasnoticias{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    max-width: 1040px;
    border: 0.3px solid black;
    border-radius: 10px;
}
.noticiasleft{
    float: left;
    width: 20%;
    height: 38px;
    background-color: rgb(216, 0, 43) ;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 38px;
    text-align: center;
    color: white;
    word-wrap: break-word;
}
.noticiasright{
    float: right;
    width: 79%;
    height: 38px;
    line-height: 38px;
    text-align: LEFT;
    padding-left: 10px;
    word-wrap: break-word;
}
.noticiamain{
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
    padding-top: 10px;
}
.noticia-mainleft{
    width: 64.5%;
    float: left;
}
.noticia-mainright{
    width: 34.5%;
    float: right;
}
.barra-noticias{
    width: 100%;
    background-color: rgb(196, 196, 196);
    border: 1px solid rgb(117, 117, 117,0.6);
}
.titulo{
    width: 100%;
    height: 30px;
    background-color: rgb(216, 216, 216);
    padding-left: 7px;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid rgb(117, 117, 117,0.6);
}
.conteudo{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    padding-left: 7px;
    font-size: 15px;
    padding-top: 6px;
    word-wrap: break-word;
    border-bottom: 1px solid rgb(117, 117, 117,0.6);
}
.slider{
    height: 282px;
    background-color: brown;
}
.slider1{
    height: 282px;
}
.slider1 img{
    width: 100%;
    max-height: 100%;
}
.slider1 h3{
    position: relative;
    margin-top: -25px;
    color: white;
    font-size: 20px;
}
.bloco-noticia,.bloco-entretenimento{
    margin-top: 12px;
    margin-bottom: 15px;
    height: 240px;
    border: 1px solid rgb(117, 117, 117,0.6);
}
.bloco-left{
    width: 50%;
    padding: 8px;
    float: left;
    height: 208px;
}
.bloco-right{
    width: 50%;
    float: right;
    height: 208px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}
.bloco-imagem{
    width: 100%;
    height: 120px;
}
.bloco-imagem img{
    width: 100%;
    height: 120px;
    box-shadow: 1px 1px 4px black;
}
.bloco-texto{
    margin-top: 5px;
    font-size: 12px;
    word-wrap: break-word;
}
.bloco-rightimg{
    width: 40%;
    height: 60px;
    float: left;
}
.bloco-righttexto{
    width: 60%;
    padding-left: 4px;
    height: 60px;
    float: right;
}
.bloco-righttexto,.bloco-rightimg{
    margin-bottom: 8px;
}
.bloco-rightimg img{
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 4px black;
}
.bloco-publicidade{
    margin-top: 12px;
    margin-bottom: 15px;
    height: 493px;
    border: 1px solid rgb(117, 117, 117,0.6);
}
.img-publicidade img{
    width: 100%;
    height: 460px;
}